In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
ls

 Volume in drive C is OS
 Volume Serial Number is 9078-B719

 Directory of C:\Users\ritij\OneDrive\Desktop\Assignment All

28-09-2022  22:12    <DIR>          .
28-09-2022  22:12    <DIR>          ..
26-09-2022  22:38    <DIR>          .ipynb_checkpoints
17-09-2022  23:12         5,650,234 50_Startups (1).csv
18-09-2022  00:17            24,716 affairs.csv
27-09-2022  01:15    <DIR>          Assignment 1 to 3
18-06-2022  23:44            61,219 Assignment -2_set_Q1.ipynb
29-06-2022  20:40           133,099 Assignment.ipynb
03-07-2022  17:28             7,659 Assignment2 _set2_Q1.ipynb
08-08-2022  17:00             4,268 Assignment-2-set-3-Q5.ipynb
08-08-2022  17:31             4,226 Assignment-2-set4-Q3.ipynb
08-08-2022  18:56            35,170 Assignment-3-Hypothesis Testing.ipynb
26-09-2022  22:04            74,697 Association Rules Data mining (my_movies).ipynb
28-09-2022  22:12           125,680 Association Rules Data Mining(books).ipynb
18-09-2022  01:08         4,610,348 bank-full (2).csv
26-09-2022  22:46           498,916 book (1).csv
26-09-2022  19:35            46,094 book.csv
26-09-2022  22:47           498,916 book1.csv
08-08-2022  17:41                87 BuyerRatio (1).csv
27-04-2022  15:06             3,529 Cars.csv
08-08-2022  17:40            13,423 Costomer+OrderForm (1).csv
08-08-2022  18:05               525 Cutlets (1).csv
02-09-2022  20:46               198 delivery_time (1).csv
18-09-2022  00:18               228 election_data.csv
14-09-2022  17:53            10,053 glass.csv
08-08-2022  18:32             3,487 LabTAT (1).csv
23-09-2022  17:05           179,873 Logistic Regression.ipynb
17-09-2022  22:34           436,267 Multi-Linear Regression 2.ipynb
17-09-2022  22:54         1,445,854 Multi-LinearRegression-1.ipynb
26-09-2022  19:36               637 my_movies.csv
26-04-2022  14:06               962 Q7.csv
26-04-2022  15:51               502 Q9_a.csv
26-04-2022  15:39             2,252 Q9_b.csv
27-09-2022  01:13           129,757 Rcommendation Engine .ipynb
02-09-2022  20:46               352 salary_data.csv
09-09-2022  22:09           176,380 Simple Linear Regression.ipynb
17-09-2022  20:40           224,041 ToyotaCorolla (2).csv
27-04-2022  15:31             1,172 wc-at.csv
14-09-2022  17:53             4,362 Zoo.csv
              35 File(s)     14,409,183 bytes
               4 Dir(s)  130,344,517,632 bytes free

In [5]:
movies = pd.read_csv("my_movies.csv")
movies

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
5,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
6,Harry Potter1,Harry Potter2,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0
7,Gladiator,Patriot,NaN,NaN,NaN,0,1,0,0,1,0,0,0,0,0
8,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
9,Sixth Sense,LOTR,Gladiator,Green Mile,NaN,1,1,0,0,0,0,0,1,0,1

In [6]:
movies.shape

(10, 15)

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   V1             10 non-null     object
 1   V2             10 non-null     object
 2   V3             7 non-null      object
 3   V4             2 non-null      object
 4   V5             1 non-null      object
 5   Sixth Sense    10 non-null     int64
 6   Gladiator      10 non-null     int64
 7   LOTR1          10 non-null     int64
 8   Harry Potter1  10 non-null     int64
 9   Patriot        10 non-null     int64
 10  LOTR2          10 non-null     int64
 11  Harry Potter2  10 non-null     int64
 12  LOTR           10 non-null     int64
 13  Braveheart     10 non-null     int64
 14  Green Mile     10 non-null     int64
dtypes: int64(10), object(5)
memory usage: 1.3+ KB

In [8]:
movies2=movies.iloc[:,5:]
movies2

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,1,0,1,1,0,1,0,0,0,1
1,0,1,0,0,1,0,0,0,1,0
2,0,0,1,0,0,1,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0
4,1,1,0,0,1,0,0,0,0,0
5,1,1,0,0,1,0,0,0,0,0
6,0,0,0,1,0,0,1,0,0,0
7,0,1,0,0,1,0,0,0,0,0
8,1,1,0,0,1,0,0,0,0,0
9,1,1,0,0,0,0,0,1,0,1

# Apriori Algorithm
1. Association rules with 10% Support and 70% confidence¶

In [9]:
frequent_itemsets=apriori(movies2,min_support=0.1,use_colnames=True)
frequent_itemsets

    support                                           itemsets
0       0.6                                      (Sixth Sense)
1       0.7                                        (Gladiator)
2       0.2                                            (LOTR1)
3       0.2                                    (Harry Potter1)
4       0.6                                          (Patriot)
5       0.2                                            (LOTR2)
6       0.1                                    (Harry Potter2)
7       0.1                                             (LOTR)
8       0.1                                       (Braveheart)
9       0.2                                       (Green Mile)
10      0.5                           (Sixth Sense, Gladiator)
11      0.1                               (Sixth Sense, LOTR1)
12      0.1                       (Sixth Sense, Harry Potter1)
13      0.4                             (Sixth Sense, Patriot)
14      0.1                               (Sixth Sense, LOTR2)
15      0.1                                (Sixth Sense, LOTR)
16      0.2                          (Sixth Sense, Green Mile)
17      0.6                               (Gladiator, Patriot)
18      0.1                                  (Gladiator, LOTR)
19      0.1                            (Braveheart, Gladiator)
20      0.1                            (Green Mile, Gladiator)
21      0.1                             (LOTR1, Harry Potter1)
22      0.2                                     (LOTR2, LOTR1)
23      0.1                                (Green Mile, LOTR1)
24      0.1                             (LOTR2, Harry Potter1)
25      0.1                     (Harry Potter2, Harry Potter1)
26      0.1                        (Green Mile, Harry Potter1)
27      0.1                              (Braveheart, Patriot)
28      0.1                                (Green Mile, LOTR2)
29      0.1                                 (Green Mile, LOTR)
30      0.4                  (Sixth Sense, Gladiator, Patriot)
31      0.1                     (Sixth Sense, Gladiator, LOTR)
32      0.1               (Sixth Sense, Green Mile, Gladiator)
33      0.1                (Sixth Sense, LOTR1, Harry Potter1)
34      0.1                        (Sixth Sense, LOTR1, LOTR2)
35      0.1                   (Sixth Sense, Green Mile, LOTR1)
36      0.1                (Sixth Sense, Harry Potter1, LOTR2)
37      0.1           (Sixth Sense, Green Mile, Harry Potter1)
38      0.1                   (Sixth Sense, Green Mile, LOTR2)
39      0.1                    (Sixth Sense, Green Mile, LOTR)
40      0.1                   (Braveheart, Gladiator, Patriot)
41      0.1                      (Green Mile, Gladiator, LOTR)
42      0.1                      (LOTR2, LOTR1, Harry Potter1)
43      0.1                 (Green Mile, LOTR1, Harry Potter1)
44      0.1                         (Green Mile, LOTR1, LOTR2)
45      0.1                 (Green Mile, Harry Potter1, LOTR2)
46      0.1         (Sixth Sense, Green Mile, Gladiator, LOTR)
47      0.1         (Sixth Sense, LOTR1, Harry Potter1, LOTR2)
48      0.1    (Sixth Sense, Green Mile, Harry Potter1, LOTR1)
49      0.1            (Sixth Sense, Green Mile, LOTR1, LOTR2)
50      0.1    (Sixth Sense, Green Mile, Harry Potter1, LOTR2)
51      0.1          (Green Mile, LOTR1, Harry Potter1, LOTR2)
52      0.1  (Green Mile, LOTR2, Harry Potter1, LOTR1, Sixt...

In [10]:
# 70% confidence
rules=association_rules(frequent_itemsets,metric='lift',min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
2,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
3,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
4,(Sixth Sense),(Harry Potter1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
...,...,...,...,...,...,...,...,...,...
245,(Green Mile),"(LOTR2, LOTR1, Harry Potter1, Sixth Sense)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
246,(LOTR2),"(Green Mile, LOTR1, Harry Potter1, Sixth Sense)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
247,(Harry Potter1),"(Green Mile, LOTR1, LOTR2, Sixth Sense)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
248,(LOTR1),"(Green Mile, Harry Potter1, LOTR2, Sixth Sense)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
249,(Sixth Sense),"(Green Mile, LOTR1, Harry Potter1, LOTR2)",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08

# 1. Association rules with 5% Support and 90% confidence

In [11]:
# with 5% support
frequent_itemsets2=apriori(movies2,min_support=0.05,use_colnames=True)
frequent_itemsets2

    support                                           itemsets
0       0.6                                      (Sixth Sense)
1       0.7                                        (Gladiator)
2       0.2                                            (LOTR1)
3       0.2                                    (Harry Potter1)
4       0.6                                          (Patriot)
5       0.2                                            (LOTR2)
6       0.1                                    (Harry Potter2)
7       0.1                                             (LOTR)
8       0.1                                       (Braveheart)
9       0.2                                       (Green Mile)
10      0.5                           (Sixth Sense, Gladiator)
11      0.1                               (Sixth Sense, LOTR1)
12      0.1                       (Sixth Sense, Harry Potter1)
13      0.4                             (Sixth Sense, Patriot)
14      0.1                               (Sixth Sense, LOTR2)
15      0.1                                (Sixth Sense, LOTR)
16      0.2                          (Sixth Sense, Green Mile)
17      0.6                               (Gladiator, Patriot)
18      0.1                                  (Gladiator, LOTR)
19      0.1                            (Braveheart, Gladiator)
20      0.1                            (Green Mile, Gladiator)
21      0.1                             (LOTR1, Harry Potter1)
22      0.2                                     (LOTR2, LOTR1)
23      0.1                                (Green Mile, LOTR1)
24      0.1                             (LOTR2, Harry Potter1)
25      0.1                     (Harry Potter2, Harry Potter1)
26      0.1                        (Green Mile, Harry Potter1)
27      0.1                              (Braveheart, Patriot)
28      0.1                                (Green Mile, LOTR2)
29      0.1                                 (Green Mile, LOTR)
30      0.4                  (Sixth Sense, Gladiator, Patriot)
31      0.1                     (Sixth Sense, Gladiator, LOTR)
32      0.1               (Sixth Sense, Green Mile, Gladiator)
33      0.1                (Sixth Sense, LOTR1, Harry Potter1)
34      0.1                        (Sixth Sense, LOTR1, LOTR2)
35      0.1                   (Sixth Sense, Green Mile, LOTR1)
36      0.1                (Sixth Sense, Harry Potter1, LOTR2)
37      0.1           (Sixth Sense, Green Mile, Harry Potter1)
38      0.1                   (Sixth Sense, Green Mile, LOTR2)
39      0.1                    (Sixth Sense, Green Mile, LOTR)
40      0.1                   (Braveheart, Gladiator, Patriot)
41      0.1                      (Green Mile, Gladiator, LOTR)
42      0.1                      (LOTR2, LOTR1, Harry Potter1)
43      0.1                 (Green Mile, LOTR1, Harry Potter1)
44      0.1                         (Green Mile, LOTR1, LOTR2)
45      0.1                 (Green Mile, Harry Potter1, LOTR2)
46      0.1         (Sixth Sense, Green Mile, Gladiator, LOTR)
47      0.1         (Sixth Sense, LOTR1, Harry Potter1, LOTR2)
48      0.1    (Sixth Sense, Green Mile, Harry Potter1, LOTR1)
49      0.1            (Sixth Sense, Green Mile, LOTR1, LOTR2)
50      0.1    (Sixth Sense, Green Mile, Harry Potter1, LOTR2)
51      0.1          (Green Mile, LOTR1, Harry Potter1, LOTR2)
52      0.1  (Green Mile, LOTR2, Harry Potter1, LOTR1, Sixt...

In [12]:
# 90% confidence
rules2=association_rules(frequent_itemsets2,metric='lift',min_threshold=0.9)
rules2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
2,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
3,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
4,(Sixth Sense),(LOTR),0.6,0.1,0.1,0.166667,1.666667,0.04,1.08
...,...,...,...,...,...,...,...,...,...
233,(Green Mile),"(LOTR2, LOTR1, Harry Potter1, Sixth Sense)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
234,(LOTR2),"(Green Mile, LOTR1, Harry Potter1, Sixth Sense)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
235,(Harry Potter1),"(Green Mile, LOTR1, LOTR2, Sixth Sense)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
236,(LOTR1),"(Green Mile, Harry Potter1, LOTR2, Sixth Sense)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
237,(Sixth Sense),"(Green Mile, LOTR1, Harry Potter1, LOTR2)",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08

In [13]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
6,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
7,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
10,(Sixth Sense),(LOTR),0.6,0.1,0.1,0.166667,1.666667,0.04,1.08
...,...,...,...,...,...,...,...,...,...
245,(Green Mile),"(LOTR2, LOTR1, Harry Potter1, Sixth Sense)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
246,(LOTR2),"(Green Mile, LOTR1, Harry Potter1, Sixth Sense)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
247,(Harry Potter1),"(Green Mile, LOTR1, LOTR2, Sixth Sense)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
248,(LOTR1),"(Green Mile, Harry Potter1, LOTR2, Sixth Sense)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
249,(Sixth Sense),"(Green Mile, LOTR1, Harry Potter1, LOTR2)",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08

# 1. Association rules with 5% Support and 90% confidence
# with 5% support

In [17]:
frequent_itemsets2=apriori(movies2,min_support=0.05,use_colnames=True)
frequent_itemsets2

    support                                           itemsets
0       0.6                                      (Sixth Sense)
1       0.7                                        (Gladiator)
2       0.2                                            (LOTR1)
3       0.2                                    (Harry Potter1)
4       0.6                                          (Patriot)
5       0.2                                            (LOTR2)
6       0.1                                    (Harry Potter2)
7       0.1                                             (LOTR)
8       0.1                                       (Braveheart)
9       0.2                                       (Green Mile)
10      0.5                           (Sixth Sense, Gladiator)
11      0.1                               (Sixth Sense, LOTR1)
12      0.1                       (Sixth Sense, Harry Potter1)
13      0.4                             (Sixth Sense, Patriot)
14      0.1                               (Sixth Sense, LOTR2)
15      0.1                                (Sixth Sense, LOTR)
16      0.2                          (Sixth Sense, Green Mile)
17      0.6                               (Gladiator, Patriot)
18      0.1                                  (Gladiator, LOTR)
19      0.1                            (Braveheart, Gladiator)
20      0.1                            (Green Mile, Gladiator)
21      0.1                             (LOTR1, Harry Potter1)
22      0.2                                     (LOTR2, LOTR1)
23      0.1                                (Green Mile, LOTR1)
24      0.1                             (LOTR2, Harry Potter1)
25      0.1                     (Harry Potter2, Harry Potter1)
26      0.1                        (Green Mile, Harry Potter1)
27      0.1                              (Braveheart, Patriot)
28      0.1                                (Green Mile, LOTR2)
29      0.1                                 (Green Mile, LOTR)
30      0.4                  (Sixth Sense, Gladiator, Patriot)
31      0.1                     (Sixth Sense, Gladiator, LOTR)
32      0.1               (Sixth Sense, Green Mile, Gladiator)
33      0.1                (Sixth Sense, LOTR1, Harry Potter1)
34      0.1                        (Sixth Sense, LOTR1, LOTR2)
35      0.1                   (Sixth Sense, Green Mile, LOTR1)
36      0.1                (Sixth Sense, Harry Potter1, LOTR2)
37      0.1           (Sixth Sense, Green Mile, Harry Potter1)
38      0.1                   (Sixth Sense, Green Mile, LOTR2)
39      0.1                    (Sixth Sense, Green Mile, LOTR)
40      0.1                   (Braveheart, Gladiator, Patriot)
41      0.1                      (Green Mile, Gladiator, LOTR)
42      0.1                      (LOTR2, LOTR1, Harry Potter1)
43      0.1                 (Green Mile, LOTR1, Harry Potter1)
44      0.1                         (Green Mile, LOTR1, LOTR2)
45      0.1                 (Green Mile, Harry Potter1, LOTR2)
46      0.1         (Sixth Sense, Green Mile, Gladiator, LOTR)
47      0.1         (Sixth Sense, LOTR1, Harry Potter1, LOTR2)
48      0.1    (Sixth Sense, Green Mile, Harry Potter1, LOTR1)
49      0.1            (Sixth Sense, Green Mile, LOTR1, LOTR2)
50      0.1    (Sixth Sense, Green Mile, Harry Potter1, LOTR2)
51      0.1          (Green Mile, LOTR1, Harry Potter1, LOTR2)
52      0.1  (Green Mile, LOTR2, Harry Potter1, LOTR1, Sixt...

In [18]:
# 90% confidence
rules2=association_rules(frequent_itemsets2,metric='lift',min_threshold=0.9)
rules2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
2,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
3,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
4,(Sixth Sense),(LOTR),0.6,0.1,0.1,0.166667,1.666667,0.04,1.08
...,...,...,...,...,...,...,...,...,...
233,(Green Mile),"(LOTR2, LOTR1, Harry Potter1, Sixth Sense)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
234,(LOTR2),"(Green Mile, LOTR1, Harry Potter1, Sixth Sense)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
235,(Harry Potter1),"(Green Mile, LOTR1, LOTR2, Sixth Sense)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
236,(LOTR1),"(Green Mile, Harry Potter1, LOTR2, Sixth Sense)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
237,(Sixth Sense),"(Green Mile, LOTR1, Harry Potter1, LOTR2)",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08

In [19]:
# Lift Ratio > 1 is a good influential rule in selecting the associated transactions
rules2[rules2.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
2,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
3,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
4,(Sixth Sense),(LOTR),0.6,0.1,0.1,0.166667,1.666667,0.04,1.08
...,...,...,...,...,...,...,...,...,...
233,(Green Mile),"(LOTR2, LOTR1, Harry Potter1, Sixth Sense)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
234,(LOTR2),"(Green Mile, LOTR1, Harry Potter1, Sixth Sense)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
235,(Harry Potter1),"(Green Mile, LOTR1, LOTR2, Sixth Sense)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
236,(LOTR1),"(Green Mile, Harry Potter1, LOTR2, Sixth Sense)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
237,(Sixth Sense),"(Green Mile, LOTR1, Harry Potter1, LOTR2)",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08